<!--
MEXIDO
-->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de Cadastro - AlunoSaqua</title>
    <script src="https://kit.fontawesome.com/703f9c0594.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="register">
    <main class="form-container">
        <div class="container-info">
            <h2>Como Realizar o Cadastro <i class="fa-solid fa-turn-down"></i></h2> 
            <p style="text-align: left; margin-bottom: 20px;">
                Para garantir a segurança, os cadastros de novos alunos e pais/responsáveis
                devem ser realizados presencialmente na <strong>secretaria da escola.</strong>
            </p>
            <div style="text-align: left; margin-bottom: 20px;">
                <h4>Documentos Necessários <i class="fa-solid fa-turn-down"></i> </h4>
                <ul>
                    <li><strong>Para Alunos:</strong> Certidão de Nascimento ou RG, Comprovante de Residência.</li>
                    <li><strong>Para Pais/Responsáveis:</strong> RG e CPF.</li>
                </ul>
            </div>
            <div style="text-align: left;">
                <h4>Horário de Funcionamento da Secretaria <i class="fa-solid fa-turn-down"></i> </h4>
                <p>Segunda a Sexta, das <strong>8:00h às 17:00h</strong>.</p>
            </div>
            <br>
            <a href="{{ url_for('login') }}" class="btn-comeback">Voltar para a área de login</a>
        </div>
    </main>
</body>
</html>